body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;
}
.logoNavBar{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.titleSection{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.textSimple{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.logoFooter{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.iconos{
    color: #ffffff;
}
.footIcon{
    display: flex;
    justify-content: center;
}
.textTravel{
    text-decoration: none;
}
